.App {
  text-align: center;
  font-family: sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.box{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  margin: auto;
  gap: 20px;
}
.inner{
  border: 1px solid #cece;
  border-radius: 15px;
  padding: 25px;
  margin-bottom: 10%;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}
.booksImage{
  width: 100%;
  height: 330px;
}
.title{
  font-family: bold;
  padding-top: 10px;
  font-size: 16px;
  width: 250px;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
}
.price{
  color: #2874F0;
  font-weight: bold;
}
.view{
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}
.view-port{
  display: flex;
  justify-content: space-between;
  gap:10px
}
.Heading{
  font-size: 24px;
  margin-bottom: 20px;

}
.view-port>p{
  font-size: 12px;
}
.devider{
  padding-bottom: 10px;
}